export MASTER={{ zeppelin.spark_url }}
export SPARK_HOME={{ spark_install_dir }}/spark-{{ spark_version }}-bin-hadoop{{ hadoop_version }}
export SPARK_SUBMIT_OPTIONS="--jars {{ zeppelin.spark_cassandra_connector_location }}"
